<a href="https://colab.research.google.com/github/Shivakumar-Budyal/python-class/blob/master/Day_4_assignment_Shiv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# printing the 1st armstrong number in the rangeof 1042000 to 702648365 and exit

In [19]:
for num in range(1042000, 702648365):
  order = len(str(num))
  sum = 0
  temp =num
  while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10
  if num == sum:
      print(num, " is armstrong number")
      break

1741725  is armstrong number